.button-enter-container {
  display: flex;
  position: relative;
}
.button-enter-button {
  color: var(--dl-color-gray-background);
  border: none;
  font-size: 3rem;
  font-family: Open Sans;
  font-weight: 800;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: 10rem;
  margin-bottom: 2rem;
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-primary-100);
}

@media(max-width: 479px) {
  .button-enter-root-class-name {
    margin-top: 0rem;
    margin-bottom: 0rem;
  }
}
