.footer-footer {
  width: 100%;
  display: flex;
  position: relative;
  padding-top: 3rem;
  padding-bottom: 3rem;
  justify-content: center;
}
.footer-text {
  text-align: center;
  font-family: Open Sans;
}
