.payment-success-page-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.payment-success-page-text {
  font-size: 48px;
}
.payment-success-page-image {
  width: 1082px;
  height: 724px;
  object-fit: cover;
}
