.search-container {
  display: flex;
  position: relative;
}
.search-input {
  width: 20rem;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  font-family: Open Sans;
  border-radius: 1rem;
}
.search-icon {
  width: 5rem;
  height: 3rem;
}
