<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Профиль</title>
</head>
<body>
<div>
    <div>
        <label th:text="'ФИО: ' + ${currentUser.name}"></label>
    </div>
    <div>
        <label th:text="'Номер телефона: ' + ${currentUser.phone}"></label>
    </div>
    <div>
        <label th:text="'Логин: ' + ${currentUser.login}"></label>
    </div>
    <div>
        <label th:text="'Пароль: ' + ${currentUser.password}"></label>
    </div>

</div>
</body>
</html>